<div class='container' style='width:inherit;color:#bababa;background-color:#f2f2f2;'>

  <!-- close modal -->
  <div class="" style="color:#cfd1d1;">
    <button style="margin:15px;" type="button" class="close" data-bs-dismiss="modal" aria-label="Close" onclick="$('.spinner').hide();document.querySelector('.modal').style.display = 'none';">
      <i class="fa fa-times fa-2x" style=""></i>
    </button>
  </div>

  hello...
  <br>
  <%=@results_object.to_s%>

</div>
