<!-- load modal in background and call it when you need it, remember to add a close button -->
<div class="modal" id="modal1" tabindex="-1" role="dialog">
  <div class="modal-dialog"></div>
  <div class="" style="min-width:400px;width:40%;margin:auto;" role="document"> <!-- modal-dialog -->

      <!-- modal-body -->
      <% bg_color = @modal_bg || "rgba(88, 88, 90, 0.9)" %>
      <div id="modal1-body" style="border:solid 0px transparent;background-color:<%=bg_color%>;height:100%;">
        <!-- fill modal on this class -->
      </div>

  </div><!-- .modal-dialog -->
</div><!-- .modal -->
