<div class="col-xs-12 col-sm-offset-2 col-sm-8" style="text-align:center;">
  <br>
  <br>
  <%=link_to root_path do %>
    <%#= image_tag '/images/logo.jpg' %>
  <%end%>
  <br>

  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">

  <div class="col-xs-12" style="color:#575759;text-align:center;font-size:60px;font-family: 'Knewave', cursive;margin-bottom:20px;">

    <i class="fal fa-exclamation-triangle" style="font-size:50px;color:#cfd1d1;"></i>
    <i class="fas fa-bug" style="font-size:50px;color:#cfd1d1;"></i>

    <br>
    Sorry!
    <br>
  </div>

  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">

    500 Something went wrong.  You can email the admin anytime with questions.
    <br><br><br><br>

    <!-- continue -->
    <%= link_to t('continue').upcase, root_path, :class => "btn btn-lg", :style => "" %>

  </div>

</div>
